using System;

namespace Ctrip.Mobile.Server.SmartTrip.ServiceCore.Services
{
    internal sealed class {{bizname}}CardDetailLoaderProxy : ILoader<{{bizname}}SmartTripCard>
    {
        public {{bizname}}CardDetailLoaderProxy(CardDetailLoadCommand<{{bizname}}CardEntity> command)
        {
            if (command == null)
            {
                throw new ArgumentNullException("command");
            }
            _command = command;
        }

        public {{bizname}}SmartTripCard Load()
        {
            ILoader<{{bizname}}SmartTripCard> loader;

            switch(_command.Method)
            {
                case LoadMethod.Order:
                    loader = new Order{{bizname}}CardDetailLoader(_command.Entity, _command.ClientTimeZone);
                    break;
                case LoadMethod.NonOrder:
                    loader = new NonOrder{{bizname}}CardDetailLoader(_command.Entity, _command.ClientTimeZone);
                    break;
                default:
                    loader = null;
                    break;
            }

            return loader !=null ? loader.Load():null;
        }

        private readonly CardDetailLoadCommand<{{bizname}}CardEntity> _command;
    }
}