switch(value)
{
    {% for item in model.enum_items -%}
    case {{ item.value }}:
        return {{model.name}}.{{item.name}}
    {% endfor -%}
    default:
        return {{model.name}}.Unknown;
}

switch(type)
{
    {% for item in model.enum_items  -%}
    case {{model.name}}.{{ item.name }}:
        return {{item.value}};
    {% endfor -%}
    default:
        throw new ArgumentOutOfRangeException("type");
}

switch(str)
{
    {% for item in model.enum_items  -%}
    case "{{ item.name.upper()}}":
        return {{model.name}}.{{ item.name }};
    {% endfor -%}
    default:
        return {{model.name}}.Unknown;
}