switch(value)
{
    {% for item in items -%}
    case {{ item.value }}:
        return {{name}}.{{item.name}};
    {% endfor -%}
    default:
        return {{name}}.Unknown;
}

switch(value)
{
    {% for item in items -%}
    case {{ item.value }}:
        return "{{item.name}}";
    {% endfor -%}
    default:
        return "";
}

switch(type)
{
    {% for item in items  -%}
    case {{name}}.{{ item.name }}:
        return {{item.value}};
    {% endfor -%}
    default:
        throw new ArgumentOutOfRangeException("type");
}

switch(type)
{
    {% for item in items  -%}
    case {{name}}.{{ item.name }}:
        return "{{item.desc}}";
    {% endfor -%}
    default:
        throw new ArgumentOutOfRangeException("type");
}

switch(str)
{
    {% for item in items  -%}
    case "{{ item.name.upper()}}":
        return {{name}}.{{ item.name }};
    {% endfor -%}
    default:
        return {{name}}.Unknown;
}