namespace Ctrip.Mobile.Server.SmartTrip.ExpiredDataRemovedJobws.Business
{
    internal class {{model}}RemoveLogger : ExpiredDataRemoveLogger<long>
    {
        public {{model}}RemoveLogger(ExpiredDataHandleLog<long> log)
            : base("{{ model }}DeleteJob", log)
        {
        }

        protected override int StartCode
        {
            get { return LoggingBusinessCode.{{model}}.Start; }
        }

        protected override int FinishCode
        {
            get { return LoggingBusinessCode.{{model}}.Finish; }
        }

        protected override int BatchCompleteCode
        {
            get { return LoggingBusinessCode.{{model}}.BatchComplete; }
        }
    }
}