using System;
using System.Diagnostics;

using Ctrip.Mobile.Server.SmartTrip.Common.Utility;
using {{model.soa.namespace}};

namespace Ctrip.Mobile.Server.SmartTrip.ServiceCore.SoaServices
{
    internal sealed class {{ model.service.request.name }}
    {
        {% for key,value in model.service.request.props.iteritems() -%}
        public {{value}} {{ key }} { get; set; }
        {% endfor %}
    }

    internal sealed class {{ model.service.response.name }} : SoaBaseResponse
    {
        {% for key,value in model.service.response.props.iteritems() -%}
        public {{value}} {{ key}} { get; set; }
        {% endfor %}
    }

    {% if model.service.response.types %}
    {% for type in model.service.response.types %}
    internal sealed class {{ type.name }}
    {
        {% for key,value in type.props.iteritems() %}
        public {{value}} {{ key}} { get; set; }
        {% endfor %}
    }
    {% endfor %}
    {% endif %}

    internal sealed class {{model.service.name}}: SoaServiceBase<
        {{model.service.request.name}},
        {{model.service.response.name}},
        {{model.soa.request}},
        {{model.soa.response}}>
    {
        public {{model.service.name}}({{model.service.request.name}} request)
            : base(request)
        {
        }

        public {{model.service.name}}({{model.service.request.name}} request, bool ignoreTimeout)
            : base(request, ignoreTimeout)
        {
        }

        protected override void Validate()
        {
            base.Validate();
            // todo: validate requests
        }

        protected override {{model.soa.request}} ToSoaRequest()
        {
            return new {{model.soa.request}} {
                //todo: set props
            };
        }

        protected override {{ model.soa.response }} CallSoa({{model.soa.request}} soaRequest)
        {
            Debug.Assert(soaRequest != null);

            return Soa2Processor.Execute({{model.soa.client}}.GetInstance().{{model.soa.method}}, soaRequest);
        }

        protected override {{model.service.response.name}} FromSoaResponse({{model.soa.response}} soaResponse)
        {
            {{model.service.response.name}} result;

            result = new {{model.service.response.name}}();
            if (soaResponse == null ||
                soaResponse.ResponseStatus == null ||
                soaResponse.ResponseStatus.Ack != CServiceStack.Common.Types.AckCodeType.Success)
            {
                result.Result = SoaCallStatus.Failed;
            }
            else
            {
                result.Result = SoaCallStatus.Successful;
                //todo: set other props
            }

            return result;
        }
    }
}
