<?xml version="1.0" encoding="utf-8"?>
<Service name="{{ model['base']['name'] }}" code="{{ model['base']['code'] }}" type="Service" description="{{ model['base']['desc'] }}">
    <Request name="{{ model['req']['name'] }}" type="Request" version="">
    {%- for item in model['req']['children'] recursive %}
        {%- if item['children'] %}
        <item index="{{loop.index0}}" name="{{ item['name'] }}" shortName="{{ item['short_name'] }}" length="" require="{{ 'True' if item['required'] == 'Y' else 'False' }}" type="{{ item['type'] }}" metadata="{{ item['metadata'] }}" description="{{ item['remark'] }}" format="{{ item['range'] }}" version="{{ item['version'] if item['version'] else 0 }}">
            {{ loop(item['children']) }}
        </item>
        {%- else %}
        <item index="{{loop.index0}}" name="{{ item['name'] }}" shortName="{{ item['short_name'] }}" length="" require="{{ 'True' if item['required'] == 'Y' else 'False' }}" type="{{ item['type'] }}" metadata="{{ item['metadata'] }}" description="{{ item['remark'] }}" format="{{ item['range'] }}" version="{{ item['version'] if item['version'] else 0 }}"/>
        {%- endif %}
    {%- endfor %}
    </Request>
    <Response name="{{ model['resp']['name'] }}" type="Response" version="">
    {%- for item in model['resp']['children'] recursive %}
        {%- if item['children'] %}
        <item index="{{loop.index0}}" name="{{ item['name'] }}" shortName="{{ item['short_name'] }}" length="" require="{{ 'True' if item['required'] == 'Y' else 'False' }}" type="{{ item['type'] }}" metadata="{{ item['metadata'] }}" description="{{ item['remark'] }}" format="{{ item['range'] }}" version="{{ item['version'] if item['version'] else 0 }}">
            {{ loop(item['children']) }}
        </item>
        {%- else %}
        <item index="{{loop.index0}}" name="{{ item['name'] }}" shortName="{{ item['short_name'] }}" length="" require="{{ 'True' if item['required'] == 'Y' else 'False' }}" type="{{ item['type'] }}" metadata="{{ item['metadata'] }}" description="{{ item['remark'] }}" format="{{ item['range'] }}" version="{{ item['version'] if item['version'] else 0 }}"/>
        {%- endif %}
    {%- endfor %}
    </Response>
</Service>